<div class="row  pt-5 pb-4 col-md-12 mx-0" style="min-height: 80px;  background-color: #87b7c8">
	<div class="col-md-2 row">
		{% if "Authorization" in headers %}
		<a href="/profile" class="pull-left"><img id="topPP" class="col-md-10 img-responsive" src="{{ProfilePic}}" alt="pro pic" class="w-100 h-100 pull-left img-responsive" onerror="LoadPP();" style=" border-radius: 100%;margin-top:-30px;height: 90px;"></a>
		{% else %}
				<img id="topPP" class="col-md-10 img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFg_oO2x-oCgbvj8MsgGtzlVrv3d3I2iFIpAOtbnEyPXO1CHwV" class="w-100 img-responsive" style=" max-height: 40px;">
		{% endif %}
	</div>
	<div class="col-md-7 row px-0 mx-0 my-0 mb-2">
		<form action="/search" method="POST" class="col-md-12 row" onsubmit="return validate()">
			<input class=" col-md-10 p-0 m-0 b-1-black text-black pl-1 h-100" name="searchQuery"  id="searchQuery" style="font-size:25px;" type="text" placeholder="Search" minlength="2">
			<button type="submit" class="col-md-2 p-0 m-0 searchRes b-1-black"  style="background-color: SteelBlue;"><i class="fa fa-search  m-0 p-0 text-center font-35" style="background-color: SteelBlue; width:100%;" ></i></button>
		</form>
	</div>
	
		{% if "Authorization" not in headers %}
		<div class="col-md-3 pb-3">
			<a href="/register"><button class="btn btn-primary pull-right mx-2 w-40 text-black font-25 ffFresca b-1-black">Register</button></a>
			<a href="/login"><button class="btn btn-success pull-right  mx-2 text-black  font-25 w-40  ffFresca b-1-black">Login</button></a>
		{% else %}
		<div class="col-md-3 pb-3 row">
	<div class="col-md-6"></div>
	<a href="/QandA" class="col-md-2 pull-right" id="qa"><i class="fa fa-comments fa-5x px-2  pull-right text-black mx-3"></i></a>
		<div class="dropdown pull-right  col-md-4 pull-right ">
		  <i class="fa fa-user fa-5x dropbtn pull-left"></i>
		  <br><br><br>
		  <div class="dropdown-content">
		     <a href="/profile" class="font-20 text-black row"><div class="col-md-2 "><i class="fa fa-user fa-2x p-2  " style="border: 0px solid grey; border-radius:100%;  color: black;"></i></div><div class=" col-md-9"><h1 class="text-black ffFresca mt-3 p-3"> Profile</h1></div> </a>
		    <a href="/logout" class="font-20 text-black row"><div class="col-md-2 "><i class="fa fa-sign-out fa-2x p-2  " style="border: 0px solid grey; border-radius:100%;  color: black;"></i></div><div class=" col-md-9"><h1 class="text-black ffFresca mt-3 p-3"> Logout</h1></div> </a>
		  </div>
		</div>		
		{% endif %}
	</div>
</div>
