{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style type="text/css">
	body{
			background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url("https://scontent.fjai1-1.fna.fbcdn.net/v/t34.0-12/20158171_981760235259988_1611630465_n.jpg?oh=7c6508d32556c8e603cfa6833ed70172&oe=596E6BCE");
			background-position: center middle;
			background-repeat: no-repeat;
			overflow: hidden;
			webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

		}
		.con{
			/*   border: 4px solid purple;*/
			   left: 20%;
			   top: 30%;
			   width: 60%;
			   position: absolute;
			}
		input{
			text-align: center;
			font-size: 20px;
			border: 2px solid black;
			background-color: #fff;
			width: 100%;	
			height: 3em;
		}
		
		/*.inner{
			width: 40%;
			text-align: center;
		}
		*/

		form{
			top:40%;
		}
	</style>
	<title>ForgotPassword</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
{% from "includes/formhelpers.html" import render_field	 %}
	<div class="con text-center" style="margin-top:240px;">
		<form action="" method="POST">
			<div class="form-group">
				{{render_field(form.email , placeholder="Enter your email", id="emailZ")}}
			</div>
			<button type="submit" name="ForgotButton" class="btn btn-danger b-1-black ffBellefair font-25 text-black" style="width: 100px; font-size: 25px; " onclick="var xx=document.getElementById('emailZ').value; if(xx.trim().length>0 && xx.indexOf('@')!=-1){alert('An email has been sent to '+xx+' successfully');} else {  alert('Wrong email'); } "  >Submit</button>
		</form>
		<div id="OnSubmission" style="visibility: hidden;">
			<label>A password reset mail has been sent.</label><br>
			<button class="btn btn-primary">OK</button>
		</div>
	</div>
</div>
{% endblock %}