<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  	<style type="text/css">
  		*{
  			border: 0px solid black;
  		}
  	</style>
</head>
<body>
<div class="container-fluid">
<div class="row bg-info my-2 py-2" style="max-height: 50px;">
	<div class="col-md-2">
		<img src="https://avatars1.githubusercontent.com/u/18347915?v=3&s=40" class="w-100 img-responsive" style="max-height: 40px;">
	</div>
	<div class="col-md-6 row px-0 mx-0">
		<input class="mr-sm-2 col-md-10 px-0 mx-0 "  style="font-size:25px;" type="text" placeholder="Search">
		<i class="fa fa-search col-md-1 px-0 mx-0 text-center " style="font-size: 30px;"></i>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary pull-right h-100 w-25 mx-2">Click</button>
		<button class="btn btn-warning pull-right h-100 w-25 mx-2">Click</button>
	</div>
</div>
</div>
</body>
</html>